{
  "bracketSpacing": true,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "bracketSameLine": false,
  "semi": true,
  "jsxSingleQuote": false,
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "^react$",
    "^recoil|^antd|^next-i18next",
    "^next/(.*)$",
    "^next$",
    "^nextjs-progressbar$",
    "^react-(.*)$",
    "^lodash$",
    "^@public/(.*)$",
    "^@src/(.*)$",
    ".scss$|@splidejs/react-splide/css/skyblue|min.css$",
    "^.*$"
  ],
  "plugins": ["./prettier-plugins.js"],
  "pluginSearchDirs": false
}
