// vendors
@import './vendors/tailwind';

html {
    font-size: 16px;
  
    @include m(max_w, 3360px) {
      font-size: 14px;
    }
  
    @include m(max_w, 2880px) {
      font-size: 12px;
    }
  
    @include m(max_w, 2400px) {
      font-size: 10px;
    }
  
    @include m(max_w, 1920px) {
      font-size: 8px;
    }
  
    @include m(max_w, 1680px) {
      font-size: 7px;
    }
  
    @include m(max_w, 1440px) {
      font-size: 6px;
    }
  }